*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
    text-wrap:nowrap;
}

nav{
    width:100%;
    padding:12px;
    background-color: lightcoral;
    position: fixed;
    z-index: 11;
    top:0;
}
.navbar1{
    justify-content: space-between;
    align-items: center;
}
.icon{
padding:0 10px ;
font-size: 1.1rem;
}
li{
 list-style: none;
}
nav .poster{
font-size: 1.8rem;
}

.icon1{
    gap:15px;
}

/* hero section */
.hero{
    width:100%;
    overflow: hidden;
}
.hero-image{
    position: relative;
    width:100%;
}
.hero-image img{
    width: 100%;
    height:auto;
    object-fit: cover;
    filter: blur(10px);
}
.hero-content{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 1;
    width:35%;
    padding:12px;
    margin: auto;
    transform: translate(-50% ,-60%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.hero-content h1{
    text-align: center;
}
.hero-content .data{
    line-height: 1.5;
    padding-top: 10px;
}

@media(max-width:991px){
    .hero-content{
        width:50%;
    }
}

/* login form */
.login{
    width:30%;
    margin: 40px auto;
}
.login-form{
    padding:20px;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.login-form2{
    flex-direction: column;
    padding:10px 0;
    gap:10px
}
.login-form2 h1{
    text-align: center;
}
.login-form2 input[type='text']{
    border-radius: 7px;
    padding:10px;
}
.login-form2 input[type='text']::placeholder{
    /* color:red; */
    font-size: 1rem;
}
.login-form2 .password{
    position: relative;
}
.login-form2 input[type="password"]{
    width:100%;
    border-radius: 7px;
    padding:10px
}
.login-form2 input[type="text"]{
    width:100%;
    border-radius: 7px;
    padding:10px
}
 label{
    font-size:1.3rem;
    font-weight: 900;
}
.login-form2 .password i{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content:flex-start;
    text-align: end;
    cursor: pointer;
    right:10px;
    font-size: 1.2rem;
    top:10px
}
.login-form2 input[type='password']::placeholder{
    /* color:red; */
    font-size: 1rem;
}   
.login-form2 button{
    width:20%;
    margin: auto;
    margin-top: 10px;
    padding:10px;
    border-radius: 10px;
    font-size: medium;
}
.check1 , .check2,.check3,.check4,.check5{
    color:red;
}

.csubmit:hover,.log:hover{
     background-color: aliceblue;
    font-weight: 600;
}


/* contact us */
.contact{
    width:30%;
    margin: 40px auto;
}
.contact-form{
     padding:20px;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.contact-form2 h1{
    text-align: center  ;
}
.contact-form2{
    flex-direction: column;
    padding: 20px;
    gap:10px;
}
.contact-form2 input[type="text"]{
    width:100%;
    border-radius: 7px;
    padding:10px
}
.contact-form2 input[type="email"]{
    width:100%;
    border-radius: 7px;
    padding:10px
}
.contact-form2 textarea{
    width:100%;
    padding:10px;
    border-radius:7px ;
    border:1px solid black;
    font-weight: 500;
}
.contact-form2 .hidden{
    color:green
}
/* .contact-form2 .hidden2{
    color:green;
} */
.contact-form2 button{
    width:20%;
    margin: auto;
    margin-top: 10px;
    padding:10px;
    border-radius: 10px;
    font-size: medium;
}


/* student Performance */
.student-data{
    width:100%;
    margin:0 auto;
    padding:12px;
    margin:12px 0;
}
.student-data h1{
    margin: 10px 0;
}
.summery{
    width:40%;
    background-color: lightcyan;
    border-radius: 10px;
    padding:12px 
}
.summery h3{
    margin: 10px 0;
    font-weight: 700;
}

.feature{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.feature1{
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.grade{
    gap:10px;
    align-items: center;
    width:40%;
}

.grade p{
    font-weight: 700;
    text-wrap: nowrap;
}
.grade select{
    padding: 10px;
    font-weight: 700;
    border:1px solid black;
    border-radius: 10px;
    width: 70%;
}
.search p{
    font-weight: 700;
}
.search input{
    padding:10px;
    border-radius: 10px;
    
}
.search{
    align-items: center;
    gap:10px;
}

.feature2{
    justify-content: space-between;
    width: 30%;
}
.feature button{
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    background-color: lightskyblue;

}
.feature2 .inc::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 8.7px 5px;
    border-color: transparent transparent #000000 transparent
}
.feature2 .des::after{
    content: " ";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
    border-width: 8.7px 5px 0px 5px;
    border-color: #000000 transparent transparent transparent;
}
.reset{
    margin-right: 10px;
}
.student-tabel{
    padding: 12px;
}
table{
    width:100%;
}
td{
    text-align: left;
    padding: 10px;
}
.table-head td{
    background-color: rgb(41, 228, 228);
    padding:12px;
    text-align: center;
    font-weight: 1000;
    border-radius: 10px;
    font-size: 1.1rem;
}